<!doctype html>
<html>
<head>
    <title>Meadowlark Travel</title>
    {{{_sections.head}}}
</head>
<body>
    <header><img src="/img/logo.png" alt="Meadowlark Travel Logo"></header>
    {{{body}}}



<div>
    <footer>&copy; Tony&YT {{copyrightYear}} Meadowlark Travel</footer>
</div>

    <script src="//code.jquery.com/jquery-2.1.1.min.js"></script>
    {{{_sections.jquery}}}

</body>
</html>