<!doctype html>
<html>
<head>
    <title>Meadowlark Travel</title>
    {{{_sections.head}}}
    <link rel="stylesheet" type="text/css" href="/styles/main.css" />
</head>
<body>
    <header><img src="/img/logo.png" alt="Meadowlark Travel Logo"></header>
    {{{body}}}



<div>
    <footer>&copy; Tony&YT {{copyrightYear}} Meadowlark Travel</footer>
</div>

    <script src="/vendor/jquery/jquery-2.1.4.min.js"></script>
    {{{_sections.jquery}}}

</body>
</html>