<div class="home">
<h1>Welcome to Meadowlark Travel</h1>
    <p>Hello World!...</p>

<div class="links">
<h2>Links to views</h2>
<ul>
    <li><a href="nursery-rhyme">Nursery rhyme</a></li>
    <li><a href="./newsletter-ajax">Newsletter</a></li>
</ul>
</div>

<div class="weather">{{> weather}}</div>

</div>