<div class="home">
    <div class="main">
        <h1>Welcome to Meadowlark Travel</h1>
        <p>Hello World!...
            jQuery is a fast and concise JavaScript Library that simplifies HTML document traversing, event handling, animating, and Ajax interactions for rapid web development. jQuery plugins are an integral part of modern web design. jQuery plugins gives web designers a wide range of activities and opportunities to develop a wide range of variation effects to your websites.
        </p>

        <div class="links">
            <h2>Links to views</h2>
            <ul>
                <li><a href="nursery-rhyme">Nursery rhyme</a></li>
                <li><a href="./newsletter">Newsletter</a></li>
                <li><a href="contest/vacation-photo">Vacation-photo</a></li>
            </ul>
        </div>
    </div>

    <div class="weather">{{> weather}}</div>

</div>