

.main { display: inline-block;width: 500px;min-height: 300px;margin-top: 20px;  }
.weather{ display: inline-block;width: 400px;min-height: 400px; margin-left: 20px;}
footer { font-size: 12px; }
.flashalert{ width: 600px; }


